<ion-view>
  <ion-content style="background-color: gainsboro;">
  <div class="card">
  
<div class="list">
  <h3 style="text-align:center; margin-top: 25%;">Welcome to plus App</h3>
    <p style="text-align:center;">An educational App for children.</p>
</div>
  <!-- <h3 class="start"><i class="ion-arrow-right-a"></i> <a href="#/games" style="text-decoration: none;">Start</a></h3> -->
<div class="list">
  <h3 class="start"><a href="#/games" style="text-decoration: none;"><button class=" start button icon-left ion-arrow-right-a button-positive">Start</button></a> </h3>

</div>	

</div>

		<div class="card">
  <div class="item item-text-wrap">
    
  	<h1 style="text-align:center;">RULES</h1>
  </div>
</div>

	<div class="list list-inset">

    <div class="item">
      Contains 10 question
    </div>

<div class="item">
      1 marks for each right answer..
    </div>
    
    <div class="item">
      -1 marks for each wrong answer..
    </div>

</div>

  </ion-content>
  </ion-view> 